<%- include('../layouts/header.ejs') %> 
<h2 style="text-decoration: underline; text-align: center;">Dossier de Candidature</h2>
<% if (locals.errors != null ) { %> 
    <% errors.forEach(error => { %>
        <li class="alert alert-danger"><%= error.msg %></li>
   <% }) %> 
<% } %> 


    <div class="testbox">
      <form action="/zach" method="POST">
        <h3>Civilité</h3>
         <select name="identite">
            <option value="Madame">Madame</option>
            <option value="Mademoiselle">Mademoiselle</option>
            <option value="Monsieur">Monsieur</option>
          </select>
        <div class="item">
          <p>Nom complet:</p>
          <div class="name-item">
            <input type="text" name="name" value="<%= user.name %>" placeholder="Full name"/>
          </div>
        </div>
        <div class="item">
          <p>Date de Naissance</p>
          <input type="date" name="date" 
          value="<%= user.date == null ? '' : user.date.toISOString().split('T')[0] %>"/>
        </div>
    
        <div class="item">
          <p>Telephone</p>
          <input type="number" name="phone" min="1" value="<%= user.phone %>"/>
        </div>
        <div class="item">
          <p>Email</p>
          <input type="email" name="email" value="<%= user.email %>"/>
        </div>
        <div class="item">
            <p>Addresse</p>
            <input type="adresse" name="adresse" value="<%= user.adresse %>"/>
          </div>
        <div class="item">
         
          <div class="city-item">
            <p>Type de formation</p>
            <select name="formation">
              <option value="Maintenance informatique">Maintenance informatique</option>
              <option value="Réseau">Réseau</option>
              <option value="Bureautique">bureautique</option>
              <option value="Creation de site web">Creation de site web</option>
              <option value="Gestion de projet">Gestion de projet</option>
              <option value="Infographie">Infographie</option>
              <option value="Audiovisuels">Audiovisuels</option>
            </select>
          </div>
        </div>

        <div class="btn-block">
          <button type="submit">Valider le formulaire</button>
        </div>
      </form>
    </div>
<%- include('../layouts/footer.ejs') %> 