<%- include('../../layouts/header.ejs') %> 
  <div class="container">
      <div class="row">
          <div class="col-md-10 bg-info">
              <div class="user">
            <h2>Identity: <span style="text-decoration: underline;"><%= user.identite %></span></h2>
            <h2>Name: <span style="text-decoration: underline;"><%= user.name %></span></h2>
            <h2>Date of Birth: <span style="text-decoration: underline;"><%= user.date.toISOString().split('T')[0] %></span></h2>
            <h2>Phone: <span style="text-decoration: underline;"><%= user.phone %></span></h2>
            <h2>Email: <span style="text-decoration: underline;"><%= user.email %></span></h2>
            <h2>Adresse: <span style="text-decoration: underline;"><%= user.adresse %></span></h2>
            <h2>Formation: <span style="text-decoration: underline;"><%= user.formation %></span></h2>
          </div>
      </div>
   </div>
</div>
    <div class="text-center mb-5">
        <a href="/zach/users" class="btn btn-danger btn-lg">Voir la liste des candidats</a>
    </div>
    

<%- include('../../layouts/footer.ejs') %> 