<%- include('../layouts/header.ejs') %> 
<h2 style="margin-left: 20px; text-decoration: underline;" class="text-center sub-title titre">FORMULAIRE D'ENREGISTREMENT</h2>

<div class="logo-div">
  <img class="logo" id="logo" src="/img/logo.jpeg">
</div>

<% if (locals.errors != null ) { %> 
    <% errors.forEach(error => { %>
        <li class="alert alert-danger"><%= error.msg %></li>
   <% }) %> 
<% } %> 


    <div class="testbox">
     
      <form action="/leduc" method="POST">
        <h3 class="sub-title">Identité</h3>
         <select name="identite">
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
          </select>
        <div class="item">
          <p>Nom:</p>
          <div class="name-item">
            <input type="text" name="name" value="<%= user.name %>" placeholder="nom complet"/>
          </div>
        </div>
        <div class="item">
          <p>Date de Naissance</p>
          <input type="text" name="date" value="<%= user.date %>"/>
        </div>
        <div class="item">
            <p>Lieu de naissance</p>
            <input type="text" name="lieu" value="<%= user.lieu %>"/>
          </div>
        <div class="item">
          <p>Numéro national d'identification</p>
          <input type="text" name="national" value="<%= user.national %>"/>
        </div>
        
<h3 class="sub-title">Adresse personelle</h3>
        <div class="item">
          <p>Télephone</p>
          <input type="number" name="phone" min="1" value="<%= user.phone %>"/>
        </div>
        <div class="item">
          <p>Email</p>
          <input type="email" name="email" value="<%= user.email %>"/>
        </div>
        <div class="item">
            <p>Adresse</p>
            <input type="adresse" name="adresse" value="<%= user.adresse %>"/>
          </div>
        <div class="item">
          <p>Code postal</p>
          <input type="text" name="code" value="<%= user.code %>"/>
         
          <div class="item">
            <p>Ville</p>
            <input type="text" name="city" placeholder="City" value="<%= user.city %>" />
          </div>
          <div class="item">
            <p>Pays</p>
            <select name="region">
              <option value="Cameroun">Cameroun</option>
              <option value="Centrafrique">Centrafrique</option>
              <option value="Congo">Congo</option>
              <option value="Côte d'Ivoire">Côte d'Ivoire</option>
              <option value="Gabon">Gabon</option>
              <option value="Sénégal">Sénégal</option>
              <option value="Tchad">Tchad</option>
            </select>
          </div>
        </div>
        <div class="item modules">
          <h2 class="sub-title">Modules</h2><br>
          <span>
            <label>Economie pétrolière: <input type="checkbox" name="module1" value="Economie petroliere"></label>
          </span>
          <span>
            <label>Production pétrolière: <input type="checkbox" name="module2" value="Production petroliere"></label>
          </span>
          <span>
            <label>Modélisation des reservoirs: <input type="checkbox" name="module3" value="Modelisation des reservoirs"></label>
          </span>
          <span>
            <label>Caractérisation des réservoirs: <input type="checkbox" name="module4" value="Caractérisation des réservoirs"></label>
          </span>
          </div>
        
<h2 class="sub-title sub-diplome">Etudes et diplômes</h2>
        <div class="item">
          <p>Bac +1:</p>
          <label>Etablissement Fréquenté</label>
          <input type="text" name="etablissement1"  value="<%= user.etablissement1 %>"/>
          <label>Année: <input type="text" name="annee1"value="<%= user.annee1 %>"/></label>
        </div>
        <div class="item">
          <p>Bac +2:</p>
          <label>Etablissement Fréquenté</label>
          <input type="text" name="etablissement2"  value="<%= user.etablissement2 %>"/>
          <label>Année: <input type="text" name="annee2"value="<%= user.annee2 %>"/></label>
        </div>
        <div class="item">
          <p>Bac +3:</p>
          <label>Etablissement Fréquenté</label>
          <input type="text" name="etablissement3" value="<%= user.etablissement3 %>" />
          <label>Année: <input type="text" name="annee3"value="<%= user.annee3 %>"/></label>
        </div>
        <div class="item">
          <p>Bac +4:</p>
          <label>Etablissement Fréquenté</label>
          <input type="text" name="etablissement4" value="<%= user.etablissement4 %>" />
          <label>Année: <input type="text" name="annee4"value="<%= user.annee4 %>"/></label>
        </div>
        <div class="item">
          <p>Bac +5:</p>
          <label>Etablissement Fréquenté</label>
          <input type="text" name="etablissement5" value="<%= user.etablissement5 %>" />
          <label>Année: <input type="text" name="annee5"value="<%= user.annee5 %>"/></label>
        </div>
       
        <h2 class="sub-title">Langues Vivantes</h2>
        <div class="item">
          <p>Langue maternelle</p>
          <input type="text" name="langue" value="<%= user.langue %>"/>
        </div>
        <div class="item">
          <p>Autre langue</p>
          <input type="text" name="langue2" value="<%= user.langue2 %>"/>
        </div>
        <div class="btn-block">
          <button type="submit">Valider le formulaire</button>
        </div>
      </form>
    </div>


